.container h3 {
  color: #00796b;
  font-weight: 600;
}

.form-label {
  font-weight: 500;
}

.btn-success {
  background-color: #00796b;
  border: none;
}

.btn-success:hover {
  background-color: #004d40;
}
