.container h3 {
  color: #00796b;
  font-weight: 600;
}

.table th {
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}
.container h3 {
  color: #00796b;
  font-weight: 600;
}

.table th {
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}

.btn-danger {
  background-color: #d32f2f;
  border: none;
}

.btn-danger:hover {
  background-color: #b71c1c;
}