.container h3 {
  color: #00796b;
  font-weight: 600;
}

.table th {
  font-weight: 600;
  white-space: nowrap;
}

.table td {
  vertical-align: middle;
  white-space: nowrap;
}

.btn-danger {
  background-color: #d32f2f;
  border: none;
}

.btn-danger:hover {
  background-color: #b71c1c;
}

.toast-container {
  z-index: 1055;
}

.toast-body {
  font-weight: 500;
}
